apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: medtracker
  namespace: medtracker-prod
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-storage
  resources:
    requests:
      storage: 5Gi