apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: medtracker-pvc
  namespace: med-tracker
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-storage
  resources:
    requests:
      storage: 1Gi