apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argo-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://kubernetes-sigs.github.io/headlamp/
    chart: headlamp
    targetRevision: 0.28.0
    helm:
      valuesObject:
        replicaCount: 1
        ingress:
          enabled: true
          ingressClassName: tailscale
          annotations: {}
          hosts:
            - host: headlamp
              paths:
                - path: /
                  type: Prefix 
          tls:
            - hosts:
                - headlamp
        service:
          type: NodePort
          port: 80
          targetPort: 8080
        serviceAccount:
          create: true
          name: headlamp
        clusterRoleBinding:
          create: true
        config:
          baseURL: ""
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true