apiVersion: v1
kind: Service
metadata:
  name: kustomize-demo
  labels:
    app: kustomize-demo
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: kustomize-demo