apiVersion: v1
kind: Namespace
metadata:
  name: metallb
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  addresses:
  - 192.168.1.200-192.168.1.250 
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  ipAddressPools:
  - default-pool