apiVersion: v1
kind: Service
metadata:
  name: medtracker
  labels:
    app: medtracker
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: medtracker